<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Crystal Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Crystal Community</a>
        <a href="/developers">Developers</a>
        <a href="/projects">Projects</a>
      </nav>
    </header>

    <main>
      <%= content %>
    </main>

    <footer>
      <p>&copy; <%= Time.local.year %> Crystal Community</p>
    </footer>
  </body>
</html>

